body {
    margin: 0;
}

.div-personalizat1 {
    margin: 8px 32px 32px 16px;
    padding: 32px 16px 32px 16px;
    border: 8px solid rgb(29, 82, 68);
}

.div-personalizat2 {
    margin: 8px 32px 32px 16px;
    padding: 32px 16px 32px 16px;
    border: 1px solid rgb(0, 0, 0);
}

.paragraf-colorat {
    background-color: rgb(230, 230, 230);
}

.div-personalizat3 {
    height: 75px;
    width: 75px;
    border: 1px solid black;
    margin: 8px 32px 32px 16px;
    padding: 16px;
}

.div-personalizat3:hover {
    border-color: red;
}

.div-parinte {
    height: 50px;
    width: 250px;
    border: 1px solid black;
    margin: 8px 32px 32px 16px;
    padding: 16px;
}

.div-copil {
    height: 50%;
    width: 25%;
    border: 1px solid red;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}

h1::before {
    content: "Inainte ";
    color: red;
}

h1::after {
    content: " dupa";
    color: blue;
}